.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main #veg {
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: #47b812;
    padding: 8px 12px;
    margin: 10px 5px;
    color: #fff;
}

.main #non-veg {
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: #c33a02;
    padding: 8px 12px;
    margin: 10px 5px;
    color: #fff;
}

.veg-order-table {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
    margin: 20px 0;
}
.veg-order-table tr , th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.veg-order-table tr:nth-child(odd) {
    background-color: rgba(71, 184, 18, 0.445);
}
.veg-order-table tr:nth-child(even) {
    background-color: #fff;
}
.nonveg-order-table {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
    margin: 20px 0;
}
.nonveg-order-table tr , th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.nonveg-order-table tr:nth-child(odd) {
    background-color: rgba(195, 57, 2, 0.404);
}
.nonveg-order-table tr:nth-child(even) {
    background-color: #fff;
}