.Logo {
    background-color: white;
    padding: 8px;
    height: 80%;
    width: auto;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.Logo img {
    height: 100%;
    transition: all ease 0.2s;
}

.Logo img:hover {
    transform: scale(1.16);
}